<div class="card">
  <div class="card-body">
    {{#if this.user.username}}
      <h5 class="card-title">{{ this.user.username }}</h5>
    {{/if}}
    <p class="card-text">{{ this.body }}</p>
  </div>
</div>