<form method="POST" action="/authentication/sign-up">
  <div class="form-group">
    <label for="authentication-email">Email</label>
    <input type="email" name="email" id="authentication-email">
  </div>
  <div class="form-group">
    <label for="authentication-username">Username</label>
    <input type="text" name="username" id="authentication-username">
  </div>
  <div class="form-group">
    <label for="authentication-password">Password</label>
    <input type="password" name="password" id="authentication-password">
  </div>
  <button class="btn btn-primary">Sign Up</button>
</form>
