<form method="POST" action="/publication/create">
  <label for="publication-body">Write youre emojis...</label>
  <textarea id="publication-body" name="body" class="form-control"></textarea>
  <button class="btn btn-primary">Publish Emojis!</button>
</form>